.banner{
	background-color: #D4E5EF;
	margin: 0 auto;
	height: 200px;
}


#titre {
	color: #edf6f9;
	font-family: 'Galada', cursive;
	font-size: 120px; The Player
	margin: 0 auto;
}


.article1 {
	width: 350px;
	background-color: #D4E5EF;
}

.article2 {
	width: 350px;
	background-color: #D4E5EF;
}

.article3 {
	width: 350px;
	background-color: #D4E5EF;
}

.article4 {
	width: 350px;
	background-color: #D4E5EF;
}

.article5 {
	width: 350px;
	background-color: #D4E5EF;
}

.article6 {
	width: 350px;
	background-color: #D4E5EF;
}

.article7 {
	width: 350px;
	background-color: #D4E5EF;
}

h5{
	color:  #D4E5EF;
	font-size: 25px;
	text-align: center;


